.table :where(thead, tfoot) :where(th, td) {
    background-color: #e9ecfa !important;
    border-radius: none !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}


